.row{
    padding: 0.5rem; }

.card {
    width: 10rem;
    height: 0.5;
    font-size: 3rem;
    float: left;
    }

    .class card {
        width: 15rem;
        height: 0.5;
        font-size: 3rem;
        float: left;   
        }

h1{
   
    font-size: 7rem;
}