<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>portfolio Psicosocial</h3>
                <p>Oferta de evaluación, seguimiento de factores de riesgo psicosocial</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/ProyectoPSICOSOCIAL.jpg" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>