.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }


.row {
    background-color: #000000;  
    padding:0.em;}
    
.redes{
    margin-right: 1em;     
}

#logoAp{
        width: 100px;
        height: 80px;
}

.btn{
    border-width: medium;
}

/*para la lista de celular */
@media (max-with: 560px){
    .container{
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items:center; 

}
.redes img{
margin: 0.5;
width: 0.5;
height: 5;
}
}