<div class="row">
    <h1>Hard &amp; Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="50" [radius]="80" 
        [imagesrc]="'assets/HTML.png'" [showimage]="true" 
        [imageheight]="100" [imagewidth]="100" [showunits]="false" 
        [showsubtitle]="false" [backgroundcolor]="'waith'" [outerstrokewidth]="16" 
        [innerstrokewidth]="8" [outerstrokecolor]="'#78C000'" [innerstrokecolor]="'#C7E596'" 
        [animation]="true" [animationduration]="600"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress [percent]="50" [radius]="80" [imagesrc]="'assets/CSS.png'" [showimage]="true" [imageheight]="70" [imagewidth]="70" [showunits]="false" [showsubtitle]="false" [backgroundcolor]="'waith'" [outerstrokewidth]="16" [innerstrokewidth]="8" [outerstrokecolor]="'#78C000'" [innerstrokecolor]="'#C7E596'" [animation]="true" [animationduration]="600"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="50" [radius]="80" [imagesrc]="'assets/imagGit.png'" [showimage]="true" [imageheight]="70" [imagewidth]="70" [showunits]="false" [showsubtitle]="false" [backgroundcolor]="'waith'" [outerstrokewidth]="16" [innerstrokewidth]="8" [outerstrokecolor]="'#78C000'" [innerstrokecolor]="'#C7E596'" [animation]="true" [animationduration]="600"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="50" [radius]="80" [imagesrc]="'assets/JS.png'" [showimage]="true" [imageheight]="70" [imagewidth]="70" [showunits]="false" [showsubtitle]="false" [backgroundcolor]="'waith'" [outerstrokewidth]="16" [innerstrokewidth]="8" [outerstrokecolor]="'#78C000'" [innerstrokecolor]="'#C7E596'" [animation]="true" [animationduration]="600"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="80" [imagesrc]="'assets/Capacitacion.png'" [showimage]="true" [imageheight]="70" [imagewidth]="70" [showunits]="false" [showsubtitle]="false" [outerstrokewidth]="16" [innerstrokewidth]="8" [backgroundcolor]="'waith'" [outerstrokecolor]="'#78C000'" [innerstrokecolor]="'#C7E596'" [animation]="true" [animationduration]="600"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="80" [imagesrc]="'assets/Trabajoequi.png'" [showimage]="true" [imageheight]="70" [imagewidth]="70" [showunits]="false" [showsubtitle]="false" [outerstrokewidth]="16" [innerstrokewidth]="8" [outerstrokecolor]="'#78C000'" [innerstrokecolor]="'#C7E596'" [backgroundcolor]="'waith'" [animation]="true" [animationduration]="600"></circle-progress>
    </div>
  </div>