<div class="row">
  <div class="panel col-lg-12">
          <h1 class="section-title">Hard & Soft skills</h1>
          
      <div class="row">
      <circle-progress
       [percent]="50"
       [radius]="90"
       [showUnits]="false"
       [outerStrokeWidth]="20"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="'#C78c000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
       [title]="'HTML 50%'"
       [titleColor]="'#fefefe'"
       [showTitle]="true" 
       [showImage]="false" 
       [imageHeight]="70" 
       [imageWidth]="70" 
       [showUnits]="false"
       [showSubtitle]="false" 
       [innerStrokeWidth]="2" 
      ></circle-progress>   
</div>     